:root { 
--red_407:#ef5858; 
--gray_900_14:#21212114; 
--red_406:#ec5446; 
--red_409:#c95d5d; 
--red_408:#bd4f53; 
--red_403:#d3624f; 
--red_402:#af664b; 
--red_405:#c9524c; 
--red_404:#d96054; 
--red_401:#ea4b4c; 
--red_400:#e34449; 
--pink_52:#ffdcf0; 
--red_418:#bf7148; 
--pink_53:#fcd0ec; 
--red_417:#e26546; 
--pink_50:#ffd4f7; 
--pink_51:#ffdef5; 
--red_419:#cc4858; 
--red_414:#dc4b54; 
--red_413:#d3674f; 
--red_416:#c14c57; 
--red_415:#dd575e; 
--red_410:#af644e; 
--orange_600:#f28e02; 
--red_412:#cd5a45; 
--red_411:#ea5a42; 
--white_A700_66:#ffffff66; 
--black_900_99:#00000099; 
--yellow_902:#ef941d; 
--black_900_70:#00000070; 
--teal_400:#3383ab; 
--black_900_66:#00000066; 
--teal_401:#438baa; 
--yellow_901:#d98521; 
--yellow_900:#db7d1f; 
--pink_401:#dd4568; 
--pink_402:#c44b8e; 
--pink_400:#bd4f84; 
--gray_105:#f2f2f2; 
--gray_103:#f7f7f7; 
--gray_104:#f4f4f4; 
--orange_628:#f08800; 
--orange_627:#ff9701; 
--gray_101:#f6f5f0; 
--gray_102:#f6f6f6; 
--gray_100:#f3f3f3; 
--indigo_A400:#4658e2; 
--red_601:#e52e2e; 
--red_600:#dd4545; 
--red_603:#e63f3a; 
--red_602:#cc5037; 
--light_blue_500:#00adf2; 
--orange_400:#ffb22e; 
--amber_A400:#ffc600; 
--deep_orange_209:#fdaaab; 
--deep_orange_208:#efac8b; 
--amber_A401:#ffcb00; 
--deep_orange_205:#ffbc8f; 
--deep_orange_204:#fcc097; 
--light_green_700:#689940; 
--deep_orange_207:#f3b9a1; 
--deep_orange_206:#f7bb8a; 
--deep_orange_201:#e5bba1; 
--deep_orange_200:#efbf9e; 
--deep_orange_203:#e2af81; 
--deep_orange_202:#f4bba2; 
--light_blue_800_19:#0d7dc219; 
--lime_400:#ceb46b; 
--lime_401:#d9bb66; 
--lime_402:#e3d146; 
--indigo_100:#c0c8e6; 
--indigo_101:#b9baff; 
--deep_orange_211:#fea390; 
--deep_orange_210:#ffa7a7; 
--green_300:#8fba96; 
--light_blue_300:#43bbef; 
--bluegray_111:#d4d4d4; 
--bluegray_110:#d1d1d1; 
--deep_purple_202:#b88ed6; 
--green_304:#68ff6a; 
--green_303:#75d1a3; 
--green_302:#7ed693; 
--deep_purple_201:#b98dc4; 
--deep_purple_200:#aea6e3; 
--green_301:#75ef75; 
--bluegray_119:#c1d6db; 
--bluegray_118:#c8d8e3; 
--bluegray_117:#d0dbdd; 
--black_900_00:#00000000; 
--bluegray_116:#d4cad0; 
--bluegray_115:#d8d8d8; 
--bluegray_114:#d6d6d6; 
--bluegray_113:#cce2ea; 
--bluegray_112:#c9d1cd; 
--bluegray_200_3d:#b0bec53d; 
--bluegray_120:#cedcea; 
--cyan_600:#1d9fbf; 
--cyan_601:#029ecc; 
--gray_52:#fcfcfc; 
--gray_51:#f9f9f9; 
--gray_54:#fdf9f6; 
--gray_53:#fafafa; 
--gray_50:#f8f9fa; 
--light_green_900:#2a6900; 
--light_green_901:#2e561d; 
--light_green_902:#3b511c; 
--teal_52:#e4f1f4; 
--deep_orange_400:#c77c41; 
--blue_401:#4a9be5; 
--teal_51:#dfeef4; 
--teal_50:#e1f0f4; 
--indigo_300:#5e92b9; 
--indigo_301:#668bc6; 
--blue_400:#4da3ec; 
--bluegray_900_4c:#1d29394c; 
--red_208:#e58d8e; 
--red_209:#ed949a; 
--cyan_A100:#89fafc; 
--white_A700_7e:#ffffff7e; 
--red_204:#d8b18b; 
--light_blue_102:#a6dfff; 
--red_205:#d6b18c; 
--light_blue_101:#b0f4ff; 
--light_blue_100:#baf2ff; 
--red_206:#d19780; 
--red_207:#e8a49e; 
--red_200:#f29899; 
--red_201:#e5a98c; 
--deep_purple_400:#7165cf; 
--red_202:#d1a599; 
--red_203:#ddacab; 
--black_900_3f:#0000003f; 
--bluegray_317:#97a4ad; 
--white_A700_99:#ffffff99; 
--bluegray_316:#8ca3b1; 
--bluegray_315:#8da4af; 
--white_A700_97:#ffffff97; 
--bluegray_314:#94aaaf; 
--bluegray_313:#a1aeb2; 
--bluegray_312:#939fa5; 
--bluegray_311:#86a899; 
--bluegray_310:#90a3ad; 
--bluegray_318:#a4afb2; 
--red_219:#fb9fa0; 
--red_215:#e1a194; 
--red_216:#ea989d; 
--red_A200:#f96464; 
--red_217:#dfb393; 
--red_218:#e7a3a2; 
--orange_800:#bc7708; 
--red_211:#da9685; 
--red_212:#d18d9b; 
--teal_A100:#aefff5; 
--red_213:#ef9595; 
--red_214:#cd987e; 
--red_210:#f4abab; 
--cyan_802:#1a8496; 
--cyan_803:#188689; 
--cyan_800:#0b6d84; 
--cyan_801:#006c82; 
--white_A701:#fdfdfd; 
--white_A700:#ffffff; 
--white_A703:#fffffc; 
--white_A702:#fafdff; 
--indigo_A200:#6780f0; 
--teal_200:#7eb4bf; 
--red_220:#daae97; 
--black_900_1e:#0000001e; 
--red_221:#ef918f; 
--teal_202:#8ec0d4; 
--teal_201:#8fb8cc; 
--teal_204:#7bc9db; 
--teal_203:#76cbb4; 
--teal_206:#7bb9db; 
--deep_orange_600:#f05922; 
--teal_205:#94bece; 
--teal_207:#7dc0d8; 
--red_A202:#fa5759; 
--red_A201:#f75455; 
--pink_203:#ea9fc6; 
--purple_601:#853e96; 
--red_A204:#ff6666; 
--purple_602:#863997; 
--pink_204:#e89ac1; 
--red_A203:#ff4f47; 
--pink_201:#ea7db8; 
--purple_600:#8d2299; 
--pink_202:#d89bb9; 
--pink_200:#e1a0bf; 
--blue_603:#1389e3; 
--blue_604:#2186e9; 
--blue_601:#2ca0ce; 
--blue_602:#1286dd; 
--lime_800:#b29a34; 
--blue_600:#2d87d4; 
--lime_801:#bb783d; 
--bluegray_100:#d9d9d9; 
--bluegray_108:#cccdd1; 
--bluegray_107:#d3dee2; 
--bluegray_106:#c9d0df; 
--bluegray_105:#d5dee2; 
--bluegray_104:#becfcf; 
--bluegray_103:#cecece; 
--bluegray_102:#cccccc; 
--bluegray_101:#cbdee4; 
--lime_802:#b77734; 
--lime_803:#a3704d; 
--lime_804:#bf763b; 
--lime_805:#998522; 
--lime_806:#9e7544; 
--lime_807:#ad7741; 
--lime_808:#bb7c46; 
--bluegray_109:#c7dfeb; 
--green_702:#358761; 
--green_701:#3a8846; 
--green_700:#417f38; 
--deep_orange_902:#b85a1b; 
--deep_orange_901:#aa5d18; 
--deep_orange_900:#9a4c18; 
--gray_920:#1d260f; 
--gray_921:#111111; 
--bluegray_405:#8e8f8f; 
--bluegray_404:#7a96a0; 
--bluegray_403:#7f79a1; 
--bluegray_402:#807ca5; 
--bluegray_401:#7d9093; 
--bluegray_400:#87999b; 
--gray_916:#472e1d; 
--gray_917:#1d3a0a; 
--gray_914:#3d210f; 
--gray_915:#302119; 
--bluegray_409:#6d9fa8; 
--bluegray_408:#7c8a96; 
--gray_918:#3b0909; 
--bluegray_407:#8e8686; 
--bluegray_406:#898989; 
--gray_919:#4f1c21; 
--gray_912:#362826; 
--gray_913:#1d282c; 
--gray_910:#4f2a12; 
--gray_911:#560b0b; 
--green_A200:#83ffbb; 
--yellow_102:#ffefcd; 
--bluegray_411:#8293ab; 
--bluegray_410:#838889; 
--gray_905:#4f1919; 
--gray_906:#131313; 
--gray_903:#222222; 
--gray_904:#292526; 
--purple_401:#b74f88; 
--gray_909:#282828; 
--purple_402:#a94dbc; 
--yellow_100:#ffedc0; 
--gray_907:#362222; 
--purple_50:#f0e1ff; 
--purple_400:#b942bc; 
--gray_908:#09212f; 
--yellow_101:#fff6ca; 
--purple_51:#ffdeff; 
--gray_901:#21201f; 
--gray_902:#192324; 
--gray_900:#212121; 
--green_500:#4ed154; 
--red_A700:#f10e0e; 
--blue_302:#72aadd; 
--bluegray_603:#457087; 
--bluegray_602:#406d96; 
--bluegray_601:#4c6980; 
--bluegray_600:#426884; 
--blue_300:#6fc7e1; 
--gray_718:#6d6964; 
--blue_301:#64bced; 
--gray_716:#595959; 
--gray_717:#7d4545; 
--bluegray_608:#4e6178; 
--bluegray_607:#36648e; 
--bluegray_606:#626e7a; 
--cyan_400:#23b4cc; 
--bluegray_605:#5e6d72; 
--bluegray_604:#445c7f; 
--gray_710:#754b68; 
--purple_200:#dea8c4; 
--gray_711:#734f36; 
--gray_714:#875f43; 
--gray_715:#636363; 
--gray_712:#614d6d; 
--gray_713:#7c563c; 
--deep_purple_100:#dacce2; 
--gray_707:#5e636b; 
--gray_708:#7f5c4e; 
--gray_705:#7f5f52; 
--gray_706:#8e4964; 
--purple_201:#dd82d4; 
--gray_709:#7a594f; 
--gray_700:#555555; 
--gray_703:#645f75; 
--gray_704:#635d74; 
--gray_701:#6a6a6a; 
--gray_702:#585d6b; 
--indigo_902:#0f1d7a; 
--indigo_900:#2e2966; 
--indigo_901:#10325c; 
--gray_900_8e:#2121218e; 
--pink_A100:#ff7bca; 
--orange_560:#ff9700; 
--teal_901:#14425b; 
--teal_900:#003b58; 
--gray_523:#9b9b9e; 
--gray_524:#c18f9a; 
--gray_521:#908f8e; 
--gray_522:#c1a57c; 
--gray_527:#b97d99; 
--gray_528:#a6b593; 
--gray_525:#afa1a7; 
--gray_526:#a67287; 
--gray_520:#aaaaaa; 
--bluegray_801:#3a3259; 
--bluegray_800:#213a52; 
--bluegray_809:#336649; 
--bluegray_808:#2d2d63; 
--bluegray_807:#2a4b5c; 
--gray_518:#a87483; 
--bluegray_806:#19485b; 
--gray_519:#a1a29e; 
--bluegray_805:#395259; 
--bluegray_804:#342f68; 
--bluegray_803:#375059; 
--bluegray_802:#3c505b; 
--gray_512:#b2799a; 
--red_704:#e22222; 
--gray_513:#9685a6; 
--red_703:#c6474e; 
--gray_510:#b79576; 
--gray_511:#a88378; 
--red_700:#d43839; 
--gray_516:#999893; 
--pink_803:#aa3f4a; 
--gray_517:#957da1; 
--pink_801:#aa3549; 
--gray_514:#978aad; 
--red_702:#db2031; 
--gray_515:#c59d86; 
--pink_802:#b03851; 
--red_701:#bc4d3f; 
--light_green_100:#d7f5d9; 
--light_green_101:#e0f9d7; 
--light_green_A200:#b6f967; 
--bluegray_812:#295163; 
--bluegray_811:#404c5c; 
--bluegray_810:#2c674c; 
--gray_509:#95a39b; 
--pink_800:#993a6e; 
--gray_507:#ad89a1; 
--gray_508:#c19ca9; 
--bluegray_813:#374a54; 
--gray_501:#a6a6a6; 
--orange_A100:#fad395; 
--lime_200:#e6da96; 
--gray_502:#96979f; 
--orange_A102:#ffd097; 
--gray_500:#9c9c9c; 
--orange_A101:#fbd28f; 
--gray_505:#a6a2af; 
--gray_506:#93909e; 
--orange_A103:#fcd49a; 
--gray_503:#9798a0; 
--gray_504:#949494; 
--orange_103:#efcf9c; 
--orange_102:#ffdec2; 
--orange_101:#e9d7a8; 
--orange_100:#ffdca4; 
--green_901:#2f4d0d; 
--green_900:#225e22; 
--red_902:#a53829; 
--red_901:#8e4028; 
--red_904:#962c2c; 
--red_903:#893e27; 
--red_900:#960f0f; 
--light_green_300:#a0e58c; 
--light_blue_800:#0d7dc2; 
--yellow_701:#f4bb2e; 
--yellow_700:#fbc02d; 
--red_909:#7a0f0f; 
--gray_309:#e0ddd4; 
--red_906:#932f2f; 
--red_905:#7e1406; 
--red_908:#af1e30; 
--red_907:#96172c; 
--gray_303:#d6dfe5; 
--gray_304:#e8e0d1; 
--gray_301:#dde0e9; 
--gray_302:#dedcdc; 
--gray_307:#dbdbdb; 
--gray_308:#e2e2e2; 
--gray_305:#eadad5; 
--gray_306:#e2e0d7; 
--gray_900_7a:#2121217a; 
--amber_200:#ffe092; 
--gray_300:#e5e5e5; 
--deep_orange_109:#e3beac; 
--yellow_800:#ec9a1d; 
--deep_orange_106:#e2c4b5; 
--light_green_600:#7db84d; 
--deep_orange_105:#e9c3b9; 
--light_green_601:#71b055; 
--deep_orange_108:#fcd5bb; 
--deep_orange_107:#fcd6be; 
--deep_orange_102:#efb9ac; 
--deep_orange_101:#e8ccaa; 
--deep_orange_104:#ffd9c0; 
--deep_orange_103:#f7bfa9; 
--deep_orange_100:#ffb3b3; 
--blue_900:#1e579b; 
--lime_700:#cd9815; 
--green_400_19:#7aa66819; 
--red_307:#c59168; 
--red_308:#c48051; 
--red_309:#cc6969; 
--red_303:#c18053; 
--red_304:#ce9d67; 
--red_305:#bf916b; 
--red_306:#e27364; 
--red_300:#bc7458; 
--red_301:#d28a59; 
--red_302:#c56d6c; 
--red_318:#b58456; 
--red_319:#e07d69; 
--amber_400:#ffc81d; 
--red_314:#e08484; 
--red_315:#e85b73; 
--red_316:#e5775a; 
--red_317:#c68383; 
--red_310:#be8c7b; 
--red_311:#c98c75; 
--red_312:#b57555; 
--red_313:#d69274; 
--orange_500:#ff9a00; 
--cyan_901:#16666e; 
--cyan_902:#084d70; 
--cyan_900:#005759; 
--light_green_801:#63942a; 
--light_green_802:#507224; 
--light_green_803:#647d42; 
--purple_902:#581f66; 
--light_green_800:#4f722d; 
--pink_700:#c7305b; 
--deep_orange_300:#e5895b; 
--purple_900:#3e2470; 
--purple_901:#4a0751; 
--deep_orange_302:#eb8559; 
--deep_orange_301:#ea9565; 
--yellow_A700:#d9d900; 
--cyan_A400:#00ccff; 
--deep_purple_900:#23239e; 
--red_501:#f4374e; 
--light_blue_A200:#44baff; 
--red_500:#f1493c; 
--black_904:#0c0c0c; 
--black_903:#020202; 
--black_900:#000000; 
--black_902:#230506; 
--black_901:#0e0e0e; 
--amber_600:#ffb100; 
--orange_303:#ffb750; 
--orange_302:#e8a554; 
--orange_301:#ffbf4d; 
--orange_300:#ffa750; 
--teal_101:#acd9ea; 
--teal_100:#b0e0d3; 
--teal_103:#bdd1d6; 
--teal_102:#baccd3; 
--teal_105:#b9dae4; 
--teal_104:#9accd8; 
--deep_orange_A700:#f91919; 
--pink_106:#efa5d1; 
--pink_104:#f9abcc; 
--purple_700:#7520b0; 
--deep_orange_500:#ff4a24; 
--pink_105:#ffaee2; 
--pink_102:#dfa9c5; 
--pink_103:#ffa1ca; 
--pink_100:#f29ede; 
--pink_101:#ffa9e0; 
--blue_500:#2196f3; 
--blue_501:#28a1ea; 
--indigo_201:#92a0d5; 
--indigo_202:#aba6d8; 
--indigo_200:#9ec6dd; 
--indigo_203:#9db0d6; 
--green_201:#98c19d; 
--green_200:#a4dea8; 
--light_blue_200:#70d2f9; 
--blue_A700:#2d5bfe; 
--deep_purple_300:#a075d1; 
--green_203:#97dd97; 
--green_202:#aed19f; 
--green_50:#dff2e1; 
--red_325:#ff6a6c; 
--pink_308:#f45ba7; 
--pink_309:#db529d; 
--red_326:#d67d56; 
--pink_306:#ed5a9d; 
--lime_910:#8e4332; 
--red_327:#ce8d6d; 
--pink_307:#f5599b; 
--lime_911:#8f672f; 
--red_321:#c17c59; 
--red_322:#dc7d79; 
--indigo_A100:#8980f9; 
--red_323:#bf6262; 
--red_324:#ff6c6c; 
--red_320:#c98c71; 
--teal_301:#589aa5; 
--teal_300:#55a1bf; 
--teal_303:#65b2c4; 
--teal_302:#53a9b8; 
--teal_305:#519bc3; 
--teal_304:#4fa7bd; 
--pink_304:#f964a0; 
--lime_912:#714113; 
--pink_305:#c9699a; 
--lime_913:#99633a; 
--pink_302:#cd5890; 
--pink_303:#c76899; 
--pink_300:#d8649e; 
--purple_500:#aa3c98; 
--pink_301:#bf6a93; 
--blue_704:#347bb7; 
--blue_702:#0f7bdb; 
--blue_703:#1279c6; 
--blue_700:#3587c4; 
--blue_701:#2590ba; 
--lime_900:#996c42; 
--yellow_50:#fff7e9; 
--lime_909:#89563a; 
--bluegray_207:#a2b2bc; 
--indigo_400:#428bca; 
--bluegray_206:#b3c1c9; 
--bluegray_205:#a0b7c1; 
--bluegray_204:#b6b2c9; 
--bluegray_203:#9eb4c6; 
--bluegray_202:#b7c6ce; 
--bluegray_201:#b4b2c1; 
--bluegray_200:#a2b6ba; 
--lime_901:#6f3b16; 
--lime_902:#84530b; 
--lime_903:#704413; 
--lime_904:#aa671d; 
--lime_905:#80461d; 
--indigo_403:#4a7db4; 
--lime_906:#965123; 
--indigo_401:#5077b5; 
--lime_907:#9a522a; 
--bluegray_209:#9bc3cc; 
--indigo_402:#665a9e; 
--lime_908:#827420; 
--bluegray_208:#b0c6cc; 
--deep_purple_500:#5d44cc; 
--red_101:#ffdec7; 
--bluegray_210:#abadb3; 
--red_102:#ffd4e1; 
--red_103:#ffe2cf; 
--red_100:#ffe1ca; 
--purple_A101:#ff97fe; 
--purple_A100:#e08cf5; 
--light_blue_52:#dcf4ff; 
--light_blue_51:#ebfcff; 
--red_A100:#f97d89; 
--light_blue_53:#d4f4ff; 
--orange_700:#f97700; 
--light_blue_50:#cfefff; 
--pink_311:#d84e94; 
--pink_312:#c65c91; 
--pink_310:#d15298; 
--bluegray_52:#ebf4f6; 
--bluegray_51:#eeeff4; 
--gray_810:#513c36; 
--bluegray_50:#eaedf0; 
--gray_813:#493e3a; 
--gray_814:#4c2537; 
--gray_811:#4a3531; 
--gray_812:#604845; 
--green_A100:#c0ffc0; 
--green_A101:#ace8b9; 
--green_A102:#c9ffb8; 
--gray_806:#604e46; 
--gray_807:#343f3d; 
--gray_804:#4a4a4a; 
--gray_805:#683c2f; 
--gray_808:#63310f; 
--gray_809:#422f28; 
--gray_802:#474747; 
--gray_803:#3f3f3f; 
--gray_800:#505050; 
--gray_801:#4e4e4e; 
--deep_purple_50:#e8dfef; 
--bluegray_54:#edf3f7; 
--bluegray_53:#ebf5f6; 
--green_604:#4a9352; 
--green_603:#448a65; 
--green_602:#4c875a; 
--green_601:#538c4d; 
--green_600:#57934d; 
--deep_orange_800:#bf6922; 
--teal_A200:#7bffdc; 
--bluegray_306:#8dabac; 
--bluegray_305:#78a2b3; 
--bluegray_304:#9eb1ba; 
--bluegray_303:#98b1b7; 
--cyan_100:#bcecf7; 
--bluegray_302:#8d9ba0; 
--bluegray_301:#9991b8; 
--bluegray_300:#9499a8; 
--bluegray_309:#8ea8af; 
--bluegray_308:#97a9af; 
--bluegray_307:#94bba7; 
--purple_100:#f9b6ea; 
--gray_611:#9c5f81; 
--purple_101:#ddc3f2; 
--gray_612:#8f8a78; 
--deep_orange_A100:#e2a881; 
--gray_610:#987566; 
--deep_orange_A101:#e8ab82; 
--gray_615:#858585; 
--gray_616:#7b7f79; 
--gray_613:#96745c; 
--gray_614:#9b7a5f; 
--bluegray_713:#355f78; 
--bluegray_712:#365670; 
--bluegray_711:#365f73; 
--bluegray_710:#505055; 
--gray_608:#a5816a; 
--gray_609:#997567; 
--gray_606:#a37464; 
--gray_607:#94526a; 
--deep_orange_A102:#e8a77b; 
--deep_orange_A103:#f99987; 
--deep_orange_A104:#fca377; 
--yellow_200:#ffef92; 
--bluegray_714:#496070; 
--deep_orange_A105:#f4a082; 
--gray_600:#757575; 
--gray_601:#767676; 
--gray_604:#6f6f6f; 
--gray_605:#756070; 
--gray_602:#705f79; 
--gray_603:#a67a65; 
--green_407:#7aa668; 
--green_406:#67a567; 
--blue_A100:#82b9f2; 
--green_405:#71af5d; 
--green_404:#59aa7f; 
--green_403:#6dc458; 
--green_402:#6bbf7f; 
--green_401:#61c765; 
--green_400:#51c86e; 
--gray_820:#604637; 
--gray_821:#602718; 
--gray_824:#4f213c; 
--gray_822:#663021; 
--gray_823:#34393f; 
--bluegray_504:#576b9b; 
--orange_52:#fff6e6; 
--bluegray_503:#4d7d8e; 
--cyan_300:#5cd9ea; 
--bluegray_502:#547c9d; 
--orange_50:#ffe8d9; 
--bluegray_501:#608191; 
--orange_51:#ffedde; 
--bluegray_500:#6a8189; 
--blue_201:#96d0ea; 
--gray_817:#72402a; 
--gray_818:#493426; 
--blue_202:#a6caff; 
--gray_815:#3b3b3b; 
--blue_200:#97cbe8; 
--gray_816:#393a3a; 
--bluegray_508:#597787; 
--bluegray_507:#6276a5; 
--bluegray_506:#6e8089; 
--gray_819:#692a2a; 
--bluegray_505:#6a648e; 
--pink_906:#960f4e; 
--gray_413:#d2b2c5; 
--red_803:#a55038; 
--gray_414:#c4bcd0; 
--pink_907:#931655; 
--red_802:#b23d3d; 
--pink_904:#6b0c0c; 
--gray_411:#c6a3b7; 
--pink_905:#77315b; 
--gray_412:#ccc6ba; 
--red_804:#c22123; 
--pink_902:#960f62; 
--gray_417:#c4c4c4; 
--pink_903:#792936; 
--gray_418:#d3c2c2; 
--pink_900:#780364; 
--gray_415:#c9cac7; 
--red_801:#a85038; 
--pink_901:#913a40; 
--red_800:#a0432d; 
--gray_416:#bfbdb4; 
--bluegray_909:#18303f; 
--light_green_200:#d2c9a5; 
--light_green_201:#d2e1a3; 
--gray_410:#ddbfa9; 
--pink_908:#72143f; 
--pink_909:#962050; 
--bluegray_910:#2d3340; 
--gray_408:#d5c9bf; 
--gray_409:#c4b0a7; 
--gray_402:#bababa; 
--gray_403:#b1b1b1; 
--lime_300:#e8e26b; 
--gray_400:#b7b7b7; 
--gray_401:#c5c5c5; 
--gray_406:#c7c3c3; 
--gray_407:#cbb7aa; 
--gray_404:#c7c5ca; 
--gray_405:#b2b2b2; 
--amber_100:#ffe9bd; 
--amber_101:#ffefab; 
--amber_102:#f7f1a9; 
--orange_203:#fcc698; 
--orange_202:#ffba7b; 
--orange_201:#e8bd89; 
--orange_200:#f3c583; 
--indigo_A700:#2f44e2; 
--gray_620:#8e8582; 
--gray_621:#6c7079; 
--pink_911:#750f0f; 
--bluegray_702:#50544e; 
--bluegray_701:#425763; 
--bluegray_700:#4a6370; 
--gray_619:#87785c; 
--bluegray_709:#524666; 
--pink_910:#823a61; 
--bluegray_708:#425662; 
--gray_617:#6e6e6e; 
--bluegray_707:#29677c; 
--gray_618:#6f7677; 
--bluegray_706:#305472; 
--bluegray_705:#2f5877; 
--bluegray_704:#295472; 
--bluegray_703:#3d5e7f; 
--light_green_400:#b1a161; 
--light_blue_901:#16577f; 
--light_blue_900:#0f5c82; 
--yellow_600:#ffd12f; 
--light_green_401:#9cd367; 
--light_green_402:#b0bf71; 
--lime_101:#f0e9c3; 
--gray_204:#f0f0f0; 
--lime_102:#f4eacd; 
--orange_A201:#f9b136; 
--gray_202:#efefef; 
--orange_A200:#f49937; 
--gray_203:#ebebeb; 
--amber_301:#fde049; 
--orange_A203:#fb9c48; 
--orange_A202:#f9b135; 
--amber_300:#ffd766; 
--gray_200:#e8e8e8; 
--gray_201:#e4e8ea; 
--lime_100:#faeacf; 
--deep_orange_50:#ffe3e3; 
--green_800:#247835; 
--yellow_A100:#fdff97; 
--gray_424:#bab6aa; 
--gray_425:#cbaeba; 
--gray_422:#b8b8b8; 
--black_900_e5:#000000e5; 
--gray_423:#d4b89f; 
--gray_426:#b4baab; 
--gray_420:#bfbfbe; 
--gray_421:#c8cec6; 
--bluegray_900:#183b54; 
--bluegray_908:#293338; 
--bluegray_907:#363232; 
--bluegray_906:#151551; 
--gray_419:#c6b3a4; 
--bluegray_905:#323232; 
--bluegray_904:#1c364f; 
--bluegray_903:#2d2d2d; 
--bluegray_902:#2a2b31; 
--bluegray_901:#303030; 
}